node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode
.DS_Store
Thumbs.db
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests/
.github/